@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
    display: block;
    //font-family: 'Open Sans', sans-serif;
    background-image: url('../resource/cork.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    //margin: auto;
    padding-bottom: 50px;
}

div {
    margin: 0;
    padding: 0;

}
/// doesn't do currently
.wrapper1 {
    margin: auto;
    border: 3px solid pink;
    color: blue;
    width: 550;
    
}

.polaroid {
    display: flex;
    align-items: center;
    background-color: ghostwhite;
    box-shadow: 3px 3px 14px 2px rgba(0,0,0,0.75);
    height: 550px;
    width: 550px;
    //margin: auto;
    margin-left: 3%;
    //border: 2px solid blue;
}

.frame {
    background-image: url('../resource/texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 44px 2px rgba(101,101,101,0.75) inset;
    
    height: 90%;
    width: 90%;
    
    margin: auto;
    border: 1px solid #656565;
}

.display {
    background-color: ghostwhite;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    text-align: center;
    padding-bottom: 25px;
    color: black;
    width: 550px;
    //margin: auto;
    margin-top: 0;
    margin-left: 3%;
    //border: 2px solid red;
    box-shadow: 3px 3px 14px 2px rgba(0,0,0,0.75);
}

.pin {
    position: absolute;
    background-image: url('../resource/pin.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;   
}
.no1 {
    top: -545px;
    margin-left: 25%;
}


// CSS RULES BELOW FOR SVG MAPS ONLY
.ocean {
    fill: #01053E;
    stroke: none;
}
.countries{
    fill: green;
    stroke: none;
}
.states {
    fill: lightgreen;
    stroke: #7D8F8D;
    stroke-dasharray: 5, 5;
    stroke-width: 2;
}

.states:hover {
    cursor: pointer;
    stroke-width: 2;
    stroke: none;
    fill: green;
}

.state {
    fill: green;
    opacity: .7;
    stroke: #7D8F8D;
    stroke-width: 2;
}

.city {
    fill: red;
    stroke: black;
    stroke-width: 1;
}
.city:hover {
    cursor: pointer;
    fill: yellow;
    stroke: black;
    stroke-width: 1;
}
.urban {
    fill: darkgray;
    opacity: .5;
}
.Airport {
    fill: black;
    stroke: red;
}
.Interstate {
    stroke: black;
    stroke-width: 2;
}

.Federal {
    stroke: black;
    stroke-width: 1;
}

.State {
    stroke: black;
    stroke-width: .5;
}

.Other {
    stroke: black;
    stroke-width: .5;
}
.Reservoir{}

.River{}
//<= END SVG MAP RULES 

.test {
    //height: 355.5px;
    //width: 900px;
}

.svg-clip {
    -webkit-clip-path: url("#clip-polygon");
    clip-path: url("#clip-polygon");
}

//.nav, .pagination, .carousel, .panel-title a { //cursor: pointer; }
.paper {
    height: 400px;
    width: 800px;
    position: absolute;
    top: 20px;
    right: 0px;
}


.black {
    background-color: black;
}

.collage {
    //position: absolute;
    top: 200;
    height: 355.5px !important;
    width: 900px !important;
    position: absolute;
    top: 300px;
    z-index: 2;
    right: -10px;
}
#solo {
    height: 355.5px;
    width: 900px;
    border: 1px solid purple;
    position: absolute;
    top: 300px;
    right: -10px;
}

//// BOOTSTRAP UI CAROUSEL
#slides_control > div{

    border: 5px solid red;
}

#slides_control {
    
    border: 5px solid blue;
}

/*/=> CSS RULES BELOW FOR IMAGE CAROUSEL
.carousel {
    height: 355.5px;
    width: 900px; 
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 100%;
    margin: auto;
}
div.item {
    //height: 600px;
    border: 5px solid cyan;
}

.carousel-fade {
    //height: 300px;
    border: 5px solid red;
    .carousel-inner {
        .item {
            //height: 300px;
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
            
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
            
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
            display: none;
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

*/