body {
    font: 'Open Sans', sans-serif;
}
#icon {
    height: 40px;
    width: 60px;
}

.mapContainer {
    height: 600px;
    width: 600px;
}
.state:hover {
    cursor: crosshair;
    stroke-width: 2;
    stroke: blue;
    fill: yellow;
}