<img src="../resource/pin.png" class="pin cA">
<img src="../resource/pin.png" class="pin cB">
<img src="../resource/pin.png" class="pin cC">
<img src="../resource/pin.png" class="pin cD">
<img src="../resource/pin.png" class="pin cE">
<img src="../resource/pin.png" class="pin cF">

<div class="content">    
    <div class="split50Frame">
        <div class="halfColumn">
            <img src="../resource/slate.png" class="cityScrap"/>
            <canvas id="myChart" class="chart textFloat" width="740" height="200"></canvas>
            <h3 class="weatherNote highs">Typical Monthly High and Low Temps</h3>
            
            <h2 class="textFloat weatherNote">How's the weather in <br><h1 class="textFloat weatherNote">{{ display }}</h1></h2>
        </div>
    
        <div class="halfColumn">
            <div ng-repeat="weather in weather">
                <h3 class="textFloat weatherNote">Current Temperature: {{ weather.main.temp | fahrenheit }} &#176;F</h3>
                <h3 class="textFloat weatherNote">Current Conditions: {{ weather.weather[0].description | TitleCase }} </h3>
                <img ng-src="http://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png" class="icon"/>
                
            </div>
        </div>
        
        <div class="halfColumn">
            <div class="polaroid">
                <div class="mapFrame">
                    <div carousel interval="3000">
                        <div slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.display_sizes[0].uri}}" style="margin: auto;" class="car-slides">
                            <!--div class="carousel-caption">
                                <p>{{slide.title}}</p>
                            </div-->
                        </div> 
                    </div>        
                </div>
            </div>
        </div>
    </div>
    
    <div class="split50Frame">
        <img src="../resource/yellow-pad.jpeg" class="hotelScrap"/>
        <h1 class="hotelTitle textFloat textSkew">HOTELS</h1>
        <ul class="list">
            <li ng-repeat="event in events | limitTo: 7 track by $index"  class="item">
                <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#safe=off&q={{ event.linkname }}" class="textFloat hotelName"><h3 class="hotelName textSkew">{{ event.name }}</h3></a>
                <p class="textFloat hotelAdd textSkew">{{ event.location.address }}, {{ event.location.city }}, {{ event.location.state }}</p>
            </li>
        </ul>
    </div>
</div>


