<img src="../resource/pin.png" class="pin sA"/>
<img src="../resource/pin.png" class="pin sB"/>
<img src="../resource/pin.png" class="pin sC"/>
<img src="../resource/pin.png" class="pin sD"/>
<img src="../resource/pin.png" class="pin sE"/>
<img src="../resource/pin.png" class="pin sF"/>
<img src="../resource/arrows.png" class="arrows doodle textSkew"/>
<img src="../resource/light-bulb.png" class="bulb doodle textSkew"/>
<img src="../resource/lil-earth.png" class="lilEarth doodle"/>


<div class="content">
    <div class="split50Frame">
        <div class="polaroid homeP">
            <div class="mapFrame" svg-state></div>
            <h4 class="display"> {{ display }} </h4>
        </div>
    </div>    

    <div class="split50Frame">
        <img src="../resource/paper.png" class="stateScrap"/>
        <h1 class="stateTitle textFloat titleSkew">{{ state }}</h1>
        <h4 class="stateHelp textFloat titleSkew">yeah, lets checkout..</h4> 
    </div>  

    <div class="collage">
        <img src="../resource/polaroid-collage.png" class="overlay">
        <img ng-src="{{images[1].display_sizes[0].uri}}" class="svg-clip pano">
    </div>
</div>

<svg class="clip-svg">
    <defs>
        <clipPath id="clip-polygon" clipPathUnits="objectBoundingBox" >
            <polygon points=".04 .21, .22 .15, .23 .05, .49 .18, .62 .16, .76 .25, .90 .19, .95 .80, .75 .88, .60 .78, .44 .82, .34 .76, .09 .84"/>
        </clipPath>
    </defs>
</svg>
