<h2>TEST CAROUSEL</h2>
<div class="c-polaroid">
    <div class="c-mapFrame">
        <div carousel interval="3000">
            <div slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.display_sizes[0].uri}}" style="margin: auto;" class="car-slides">
                <div class="carousel-caption">
                    <h4 class="hijack textFloat">Slide {{$index}}</h4>
                    <p class="hijack textFloat">{{slide.title}}</p>
                </div>
            </div> 
        </div>        
    </div>
    
<!--h2 class="display"> {{ display }} </h2-->
</div>